@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  border: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif; }

.banner-slider img {
  width: 100%; }

.container-new {
  position: relative;
  width: 1400px !important;
  margin: auto;
  z-index: 1; }

.slider-1 {
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  display: inline-block; }

.banner-slider-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 136px;
  z-index: 9;
  width: 100%;
  background: url(../images/s1-bg-bottom.png) no-repeat center bottom;
  display: flex; }
  .banner-slider-logo h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    float: left;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 53px 20px 0 0; }
  .banner-slider-logo img {
    width: auto;
    float: left;
    margin: 19px 0 0 40px; }
    .banner-slider-logo img:nth-child(3) {
      margin-top: 38px; }

.hide-menu .overlay-menu.show {
  width: 0; }
.hide-menu .menu-show.active::before {
  display: none !important; }
.hide-menu .box-nav {
  display: none; }

.box-nav ul li:hover button {
  color: white;
  font-size: 23px !important; }
.box-nav ul li:hover span {
  color: white; }
  .box-nav ul li:hover span::before {
    background: white !important; }

.hotline-noted-360 {
  position: fixed;
  right: 0;
  bottom: 120px;
  z-index: 9;
  width: 60px; }
  .hotline-noted-360 a {
    display: inline-block;
    width: 100%;
    background: #0da3db;
    width: 100px;
    height: 40px;
    padding: 1px 4px;
    border-radius: 28px 0 0 28px;
    margin-bottom: 14px; }
    .hotline-noted-360 a img {
      width: 60px; }
    .hotline-noted-360 a:nth-child(1)::after {
      content: '';
      display: block;
      background: url(../images/hot-line-icon.png) no-repeat;
      width: 30px;
      background-size: cover;
      height: 30px;
      float: right;
      position: absolute;
      right: 13px;
      top: 5px; }
    .hotline-noted-360 a:nth-child(2)::after {
      content: '';
      display: block;
      background: url(../images/note-icon.png) no-repeat;
      width: 30px;
      background-size: cover;
      height: 30px;
      float: right;
      position: absolute;
      right: 13px;
      top: 62px; }
    .hotline-noted-360 a:nth-child(3)::after {
      content: '';
      display: block;
      background: url(../images/360-icon.png) no-repeat;
      width: 30px;
      background-size: cover;
      height: 30px;
      float: right;
      position: absolute;
      right: 13px;
      top: 119px; }

.home-intro {
  background: #0278b5;
  position: relative; }

.slider-2-top {
  margin-top: 130px;
  display: inline-block;
  width: 892px; }
  .slider-2-top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    padding: 0;
    width: 630px;
    margin: 20px 0;
    margin-top: 40px;
    margin-left: -15px; }
    .slider-2-top ul li {
      width: 39.33%;
      text-align: center;
      padding: 0; }
      .slider-2-top ul li img {
        height: 100px;
        margin-bottom: 15px; }
      .slider-2-top ul li p {
        font-size: 22px;
        line-height: 30px; }
        .slider-2-top ul li p span {
          font-weight: bold;
          font-size: 35px; }
        .slider-2-top ul li p label {
          text-transform: uppercase; }
      .slider-2-top ul li:nth-last-child(1) {
        width: 35%; }

.slider-2 {
  position: relative;
  height: 100vh;
  display: inline-block;
  width: 100%; }
  .slider-2 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    margin-bottom: 20px; }
    .slider-2 h2::after {
      width: 128px;
      height: 2px;
      background: #0da3db;
      content: '';
      margin-top: 10px;
      display: block; }
  .slider-2 p {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    color: white; }

img.img-s2 {
  width: 854px;
  position: absolute;
  right: 0;
  top: 0; }

.slider-2-bottom {
  background: #0992cc;
  padding: 72px 0;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 290px; }
  .slider-2-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    width: 1140px;
    margin: 20px 0;
    margin-left: -15px; }
    .slider-2-bottom ul li {
      width: 33.33%;
      position: relative;
      text-align: left;
      padding: 0;
      padding-left: 147px; }
      .slider-2-bottom ul li p {
        font-size: 33px;
        float: left;
        margin-left: 31px;
        width: 100%;
        font-weight: normal;
        margin-top: 10px;
        color: white;
        line-height: 46px; }
        .slider-2-bottom ul li p b {
          width: 100%;
          display: inline-block;
          font-size: 53px;
          font-weight: normal; }
      .slider-2-bottom ul li span {
        font-size: 118px;
        color: white;
        position: absolute;
        left: 0;
        float: left;
        font-weight: 600; }
      .slider-2-bottom ul li:nth-last-child(1) {
        padding-left: 122px !important; }
      .slider-2-bottom ul li:nth-last-child(2) {
        padding-left: 62px !important;
        width: 25%; }

.section-3 {
  background: url(../images/s3-bg.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  height: 100vh;
  background-size: cover; }
  .section-3 ul {
    width: 100%;
    display: inline-block;
    padding-top: 70px; }
    .section-3 ul li {
      padding-left: 120px;
      display: inline-block;
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out; }
      .section-3 ul li span {
        position: absolute;
        left: 0;
        width: 86px;
        color: white;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        padding-top: 19px;
        height: 86px;
        border-radius: 50%;
        border: 1px solid #4acdfe; }
      .section-3 ul li p {
        color: #87cbf1;
        font-size: 20px; }
        .section-3 ul li p b {
          color: white;
          font-size: 25px; }

.s4-maps {
  background: url(../images/s4-maps.png) no-repeat center top;
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: auto;
  height: 100vh; }
  .s4-maps h2 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    position: relative;
    margin-bottom: 20px; }
    .s4-maps h2::after {
      width: 120px;
      height: 2px;
      background: #0da3db;
      content: '';
      margin-top: 10px;
      display: block; }
  .s4-maps p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white; }
    .s4-maps p img {
      float: left;
      margin: 0 15px 0px 0; }

#home-page {
  opacity: 1 !important; }

.s4-content-text {
  width: 720px;
  margin-top: 130px;
  display: inline-block; }

.s4-logo {
  position: absolute;
  right: 24%;
  top: 45%;
  cursor: pointer; }

.s4-infor {
  width: 417px;
  margin-top: 20px; }
  .s4-infor img {
    width: 385px; }

/*--end css animation--*/
.s4-infor, .s4-logo, .s4-content-text, .section-3 ul, .slider-2-top, .slider-2-bottom, .content-tienich ul li, img.img-s2, .logo, .logo-section2,
.logo-blogs, .nav-click {
  opacity: 0; }

.s4-infor, .s4-logo, .s4-content-text, .section-3 ul, .slider-2-top, .slider-2-bottom, .content-tienich ul li, img.img-s2, .logo, .logo-section2,
.logo-blogs, .nav-click {
  transition: all .3s ease-in-out; }

.show-text .s4-infor {
  animation: goRight;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.show-text .s4-logo, .show-text .section-3 ul, .show-text img.img-s2, .show-text .nav-click {
  animation: goLeft;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.show-text .s4-content-text, .show-text .slider-2-top, .show-text .logo, .show-text .logo-section2, .show-text .logo-blogs {
  animation: fadeInDown;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.show-text .slider-2-bottom, .content-tienich ul li {
  animation: fadeInUp;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }

/*--end css animation--*/
.slider-2 {
  background: #0278b5; }

.matbang-tab {
  display: inline-block;
  width: 100%;
  height: 100vh;
  padding-top: 76px; }

.tab-title {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }
  .tab-title a {
    height: 76px;
    float: left;
    background: #87deff;
    color: white;
    text-transform: uppercase;
    width: 33.3333%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding: 22px; }
    .tab-title a.active {
      background: #0da3db; }

.mb-content {
  display: inline-block;
  width: 100%;
  height: 100vh;
  padding: 0 0 0 0; }
  .mb-content .mb-content-tab, .mb-content .mb-content-tab-1, .mb-content .mb-content-tab-2, .mb-content .mb-content-tab-3, .mb-content .mb-content-tab-4 {
    display: none;
    height: 100%;
    width: 100%; }
    .mb-content .mb-content-tab img, .mb-content .mb-content-tab-1 img, .mb-content .mb-content-tab-2 img, .mb-content .mb-content-tab-3 img, .mb-content .mb-content-tab-4 img {
      height: 100%;
      width: 100%; }
    .mb-content .mb-content-tab.active, .mb-content .mb-content-tab-1.active, .mb-content .mb-content-tab-2.active, .mb-content .mb-content-tab-3.active, .mb-content .mb-content-tab-4.active {
      display: inline-block !important; }

.tab-content-intab {
  display: inline-block;
  width: 100%;
  height: 100%; }

.mb-detail-top {
  position: absolute;
  top: 100px; }
  .mb-detail-top .infor-mb {
    width: 14vh;
    margin-right: -1px;
    cursor: pointer;
    text-align: center;
    position: relative;
    height: 14.7vh;
    padding: 7px;
    float: left; }
    .mb-detail-top .infor-mb p {
      position: absolute;
      left: -20px;
      top: -105px;
      padding: 10px;
      border-radius: 6px;
      background: white;
      width: 200px;
      display: none; }
      .mb-detail-top .infor-mb p b {
        display: inline-block;
        width: 100%; }
      .mb-detail-top .infor-mb p img {
        position: absolute;
        bottom: -48px;
        width: 23px;
        left: 90px; }
      .mb-detail-top .infor-mb p a {
        display: inline-block;
        width: 100%;
        color: #0da3db;
        height: 30px;
        padding-top: 4px;
        cursor: pointer;
        z-index: 9; }
    .mb-detail-top .infor-mb.active p, .mb-detail-top .infor-mb:hover p {
      display: block !important;
      z-index: 999; }
    .mb-detail-top .infor-mb.active::after, .mb-detail-top .infor-mb.active::before, .mb-detail-top .infor-mb:hover::after, .mb-detail-top .infor-mb:hover::before {
      display: block; }
    .mb-detail-top .infor-mb::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      display: none !important;
      background: rgba(254, 204, 117, 0.7); }
    .mb-detail-top .infor-mb:nth-last-child(1)::after {
      position: absolute;
      width: 12.2vh;
      height: 100%;
      top: 0;
      left: 1vh;
      content: ''; }
    .mb-detail-top .infor-mb:nth-last-child(1)::before {
      position: absolute;
      width: 6.5vh;
      height: 72px;
      top: 0;
      left: 13.2vh;
      content: '';
      background: rgba(254, 204, 117, 0.7);
      display: none !important; }

.mb-detail-top {
  position: absolute;
  top: 29%;
  right: 12.3%;
  width: 42.7%; }

.mb-detail-bottom {
  top: 81%;
  right: initial;
  left: 14.55%;
  width: 33%; }
  .mb-detail-bottom .infor-mb {
    width: 27%; }
    .mb-detail-bottom .infor-mb:nth-last-child(2) {
      width: 128px; }
    .mb-detail-bottom .infor-mb:nth-last-child(3) {
      width: 130px; }
    .mb-detail-bottom .infor-mb:nth-last-child(1)::before {
      display: none !important; }
    .mb-detail-bottom .infor-mb::after {
      width: 100% !important;
      left: 1vh !important; }

.tab-in-tab {
  position: absolute;
  top: 129px;
  left: 0;
  width: 100%;
  text-align: center;
  margin: auto; }
  .tab-in-tab .nav-tab-in {
    margin: auto;
    width: 535px;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
  .tab-in-tab a {
    padding: 11px 33px;
    background: #99e3ff;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid white;
    float: left;
    text-transform: uppercase;
    height: 40px; }
    .tab-in-tab a:nth-last-child(1) {
      border: 0;
      border-radius: 0 6px 6px 0; }
    .tab-in-tab a.active {
      background: #0da3db;
      height: 48px;
      margin-top: -2px;
      font-weight: bold;
      border-radius: 6px !important;
      padding-top: 13px;
      border: 0 !important;
      font-size: 25px; }
    .tab-in-tab a:nth-child(1) {
      border-radius: 6px 0 0 6px; }

.tab-in-content {
  display: inline-block;
  width: 100%;
  background-size: cover !important;
  height: 100%; }

.tien-ich-tab {
  width: 100%; }
  .tien-ich-tab .tab-title a {
    width: 50% !important; }

.mb-content-tab-2, .mb-content-tab-3 {
  display: inline-block;
  width: 100%;
  height: 100%; }

.content-tienich {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/tienich-bg.png) no-repeat center top; }
  .content-tienich ul {
    display: block;
    width: 1290px;
    margin: auto;
    min-height: 100px;
    margin-top: 330px;
    position: relative; }
    .content-tienich ul li {
      position: absolute; }
      .content-tienich ul li p {
        display: inline-block;
        border-radius: 18px;
        background: #3480c8;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 22px;
        color: white;
        position: relative;
        text-transform: uppercase;
        border: 1px solid white;
        font-weight: bold;
        transition: all .3s ease-in-out; }
        .content-tienich ul li p::after {
          background: url(../images/arrow.svg) no-repeat top;
          content: '';
          display: block;
          position: absolute;
          right: 23px;
          bottom: -28px;
          width: 19px;
          height: 30px; }
        .content-tienich ul li p:hover {
          font-size: 24px; }
      .content-tienich ul li.tien-ich-1 {
        top: 30px;
        left: -30px; }
      .content-tienich ul li.tien-ich-2 {
        top: 250px;
        left: -60px; }
      .content-tienich ul li.tien-ich-3 {
        top: 230px;
        left: 285px; }
      .content-tienich ul li.tien-ich-4 {
        top: 30px;
        left: 350px; }
      .content-tienich ul li.tien-ich-5 {
        top: 110px;
        right: 150px; }
        .content-tienich ul li.tien-ich-5 p::after {
          right: inherit;
          left: 21px; }
      .content-tienich ul li.tien-ich-6 {
        top: 350px;
        right: -80px; }
        .content-tienich ul li.tien-ich-6 p::after {
          right: inherit;
          left: 22px; }
      .content-tienich ul li.tien-ich-7 {
        top: 340px;
        right: 230px; }
        .content-tienich ul li.tien-ich-7 p::after {
          right: inherit;
          left: 17px; }

.logo-section2 {
  left: 0;
  position: absolute;
  top: 5px; }

.footer.show p {
  font-weight: bold; }
  .footer.show p span {
    font-weight: bold; }
.footer.show img {
  height: 30px; }

.home-section7 h2 {
  margin-top: 130px; }

.box-news-home .logo-blogs {
  position: absolute;
  top: -177px;
  width: 100%;
  text-align: center; }

.room-list-top {
  width: 1351px;
  display: block;
  margin: 190px auto 0 auto;
  height: 128px; }
  .room-list-top .room-1:nth-child(1) {
    margin-left: 637px; }

.room-1 {
  width: 125px;
  display: inline-block;
  height: 129px;
  float: left;
  margin-right: 8px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  /* align-content: center; */
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out;
  position: relative; }
  .room-1 button {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    font-size: 22px;
    line-height: 24px;
    color: white;
    background: #0278b5;
    display: block;
    font-weight: bold;
    transition: all .3s ease-in-out; }
  .room-1:hover button {
    transform: scale(1.1) !important; }
  .room-1 .tooltip-box {
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    background: white;
    padding: 10px 15px;
    position: absolute;
    right: -69px;
    bottom: -25px;
    width: 100px;
    font-weight: bold;
    z-index: 9;
    text-align: left;
    font-size: 13px;
    line-height: 19px;
    visibility: hidden;
    opacity: 0;
    height: 77px; }
    .room-1 .tooltip-box span {
      text-transform: uppercase; }
    .room-1 .tooltip-box a {
      display: inline-block;
      width: 100%;
      font-weight: normal;
      color: #0da3db; }
  .room-1:hover button {
    width: 85px;
    height: 85px; }
  .room-1:hover .tooltip-box {
    visibility: initial;
    opacity: 1; }

.mb-block-a5-tang-2 .tooltip-box {
  right: -62px;
  bottom: 15px; }

.room-list-bottom {
  width: 1260px !important;
  margin-top: 342px !important; }
  .room-list-bottom .room-1 {
    position: relative;
    margin-right: 12px;
    width: 130px; }
    .room-list-bottom .room-1:nth-child(1) {
      margin-left: 15px; }
    .room-list-bottom .room-1:nth-child(2) {
      margin-left: 15px;
      width: 114px; }

.vitri-box {
  display: flex;
  align-content: center;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out;
  width: 832px;
  float: right;
  height: 100%; }

.tienich-ngoai-khu {
  background: #0476b2 url(../images/tienich-ngoai-khu.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  background-size: initial !important;
  height: 100%; }

.mb-tab3-tangtret {
  background: url(../images/matbang-tab-3-tang-tret.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .mb-tab3-tangtret .room-list-top {
    width: 1401px;
    display: block;
    margin: 340px auto 0 auto;
    height: 128px; }
    .mb-tab3-tangtret .room-list-top .room-1:nth-child(1) {
      margin-left: 65px; }
    .mb-tab3-tangtret .room-list-top .room-1:nth-child(6) {
      margin-left: 175px; }
    .mb-tab3-tangtret .room-list-top .room-1:nth-child(8) {
      width: 146px; }

.mb-tab3-tang2 {
  background: url(../images/matbang-tab-3-tang-2.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .mb-tab3-tang2 .room-list-top {
    width: 1261px;
    display: block;
    margin: 590px auto 0 auto;
    height: 172px; }
    .mb-tab3-tang2 .room-list-top .room-1:nth-child(1) {
      margin-left: 27px !important; }
    .mb-tab3-tang2 .room-list-top .room-1 {
      width: 129px;
      height: 169px;
      margin-right: 4px; }
    .mb-tab3-tang2 .room-list-top .room-1:nth-child(6), .mb-tab3-tang2 .room-list-top .room-1:nth-child(7), .mb-tab3-tang2 .room-list-top .room-1:nth-child(8) {
      margin-top: -64px; }
    .mb-tab3-tang2 .room-list-top .room-1:nth-child(6) {
      margin-left: 164px; }

.mb-tab3-tang-3-12 {
  background: url(../images/matbang-tab-3-tang-3-12.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .mb-tab3-tang-3-12 .room-list-top {
    width: 1331px;
    display: block;
    margin: 365px auto 0 auto;
    height: 172px; }
    .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(1) {
      margin-left: 0px !important;
      width: 196px; }
    .mb-tab3-tang-3-12 .room-list-top .room-1 {
      width: 127px;
      height: 169px;
      margin-right: 4px; }
    .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(6), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(7), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(8), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(9) {
      margin-top: -64px; }
    .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(6) {
      margin-left: 0;
      width: 160px; }
    .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(9) {
      width: 160px; }
  .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 {
    width: 1331px;
    display: block;
    margin: 41px auto 0 auto;
    height: 172px; }
    .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(1) {
      margin-left: 63px !important;
      width: 131px; }
    .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1 {
      width: 127px;
      height: 169px;
      margin-right: 4px; }
    .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(6), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(7), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(8), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(9) {
      margin-top: -64px; }
    .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(6) {
      margin-left: 164px;
      width: 134px; }

.home-section5 .nav-click::before {
  background: url(../images/menu.png) no-repeat center top !important;
  width: 77px;
  height: 63px;
  background-size: cover !important; }

.close-popup {
  position: fixed;
  top: 75px;
  right: 50px;
  transform: rotate(0deg) !important;
  background: none;
  cursor: pointer; }

.room-1 button span {
  font-size: 10px;
  line-height: 13px !important; }

.tienich-ngoai-khu nav {
  display: flex;
  align-content: center;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out;
  height: 100%;
  position: absolute;
  top: 0;
  right: 67px; }
  .tienich-ngoai-khu nav ul li {
    position: relative;
    padding-left: 30px !important;
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 6px;
    cursor: pointer;
    background: none;
    border-radius: 40px;
    padding: 3px;
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
    .tienich-ngoai-khu nav ul li b {
      width: 23px;
      height: 23px;
      border-radius: 50%;
      text-align: center;
      color: white;
      display: block;
      position: absolute;
      left: 3px;
      top: 4px;
      padding-top: 5px;
      font-size: 12px;
      font-weight: bold;
      background: #0da3db; }
    .tienich-ngoai-khu nav ul li span {
      display: inline-block;
      width: 100%;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 6px; }
    .tienich-ngoai-khu nav ul li.active {
      background: white !important; }
      .tienich-ngoai-khu nav ul li.active span {
        color: #0da3db; }

.shadow-line {
  background: #0878BE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  z-index: 0;
  opacity: .1; }

.popup-vitricuango img {
  width: 100%; }

.tang1-mb-block-a5 {
  background: url(../images/bg-matbang-block-a5-1920.png) no-repeat center top;
  background-size: initial !important; }

.popup-mb-tang2 {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .popup-mb-tang2::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #000;
    opacity: .5; }
  .popup-mb-tang2 .popu-tienich-content {
    position: fixed;
    top: 0;
    z-index: 99;
    background: url(../images/view-room.jpg) no-repeat center top;
    left: 0;
    background-size: cover !important;
    width: 100%;
    height: 100%; }
  .popup-mb-tang2.active {
    display: block !important; }

.popup-tienich-noikhu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .popup-tienich-noikhu::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #000;
    opacity: .5; }
  .popup-tienich-noikhu .owl-nav {
    top: 37vh; }
  .popup-tienich-noikhu s
  .popu-tienich-content {
    position: fixed;
    top: 0;
    z-index: 99;
    background: url(../images/view-room.jpg) no-repeat center top;
    left: 0;
    background-size: cover !important;
    width: 100%;
    height: 100%; }
  .popup-tienich-noikhu.active {
    display: block !important; }
  .popup-tienich-noikhu .item img {
    width: 1300px !important; }

.popup-vitri {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .popup-vitri::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #000;
    opacity: .5; }
  .popup-vitri .popu-tienich-content {
    position: fixed;
    top: 0;
    z-index: 99;
    background: url(../images/view-room.jpg) no-repeat center top;
    left: 0;
    background-size: cover !important;
    width: 100%;
    height: 100%; }
  .popup-vitri.active {
    display: block !important; }

.popup-news {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .popup-news::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #000;
    opacity: .5; }
  .popup-news .popu-tienich-content {
    position: fixed;
    top: 0;
    z-index: 99;
    background: url(../images/view-room.jpg) no-repeat center top;
    left: 0;
    background-size: cover !important;
    width: 100%;
    height: 100%; }
  .popup-news.active {
    display: block !important; }

.popu-matbang-khoi-content {
  position: fixed;
  top: 0;
  z-index: 99;
  background: url(../images/view-room.jpg) no-repeat center top;
  left: 0;
  background-size: cover !important;
  width: 100%;
  height: 100%; }

.popu-matbang-khoi {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .popu-matbang-khoi::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background: #000;
    opacity: .5; }
  .popu-matbang-khoi .popu-matbang-khoi-content {
    position: fixed;
    top: 0;
    z-index: 99;
    background: url(../images/view-room.jpg) no-repeat center top;
    left: 0;
    background-size: cover !important;
    width: 100%;
    height: 100%; }
  .popu-matbang-khoi.active {
    display: block !important; }

.slide-room {
  display: inline-block;
  width: 100%; }
  .slide-room.setheight .room-slide {
    width: 800px;
    margin: auto; }
  .slide-room.setheight img {
    height: 648px;
    width: auto !important;
    margin: auto; }
  .slide-room.setwidth .room-slide {
    width: 1400px;
    margin: auto; }
  .slide-room.setwidth img {
    width: 1245px;
    height: initial !important;
    margin: auto; }
  .slide-room.setwidth .owl-nav {
    top: 39%; }

.infor-popup {
  width: 1290px;
  margin: auto;
  margin-top: 78px; }
  .infor-popup .popup-cl-1 {
    float: left;
    margin-right: 100px;
    width: 270px;
    text-align: left; }
    .infor-popup .popup-cl-1 span {
      display: inline-block;
      clear: both;
      width: 100%;
      margin-bottom: 15px;
      font-size: 38px;
      text-transform: uppercase;
      color: white; }
      .infor-popup .popup-cl-1 span b {
        font-weight: bold;
        font-size: 60px; }
    .infor-popup .popup-cl-1:nth-child(1) {
      margin-right: 0; }
    .infor-popup .popup-cl-1:nth-child(2) {
      width: 320px;
      margin-top: -18px; }
    .infor-popup .popup-cl-1:nth-child(3) {
      width: 400px; }

.popu-matbang-khoi-content {
  padding: 0;
  text-align: center; }
  .popu-matbang-khoi-content img.logo-room {
    float: left; }
  .popu-matbang-khoi-content h5 {
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: normal;
    line-height: 50px; }
  .popu-matbang-khoi-content p {
    text-transform: uppercase;
    font-size: 34px; }
    .popu-matbang-khoi-content p b {
      font-weight: bold; }
  .popu-matbang-khoi-content .infor-room {
    float: left;
    clear: both;
    color: white;
    width: 400px;
    margin-top: 10vh; }
    .popu-matbang-khoi-content .infor-room p, .popu-matbang-khoi-content .infor-room span {
      float: left;
      width: 100%;
      color: white;
      font-size: 35px; }
    .popu-matbang-khoi-content .infor-room label {
      float: left;
      margin: 16px 0 0 10px; }
    .popu-matbang-khoi-content .infor-room span {
      display: inline-block;
      width: 100%;
      color: white; }
      .popu-matbang-khoi-content .infor-room span.border-span {
        line-height: 30px;
        padding: 15px 0;
        font-size: 18px;
        border-top: 1px solid #0da3db;
        border-bottom: 1px solid #0da3db; }

.popu-matbang-khoi-content {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out; }

.content-popup {
  display: inline-block;
  width: 100%; }

.laban-infor {
  margin-top: 14px;
  float: left;
  width: 100%; }
  .laban-infor img {
    width: 30px;
    float: left; }

.slide-room img {
  width: 100% !important; }
.slide-room button {
  background: none !important;
  box-shadow: none !important;
  border: 0 !important; }
  .slide-room button span {
    font-size: 0px;
    color: white; }
.slide-room .owl-nav {
  top: 39%;
  position: absolute;
  left: 0;
  width: 100%; }
  .slide-room .owl-nav button {
    position: absolute; }
    .slide-room .owl-nav button:nth-child(1) {
      left: -60px; }
      .slide-room .owl-nav button:nth-child(1) span {
        float: left;
        background: url(../images/prev-blue.png) no-repeat center top;
        width: 38px;
        height: 78px; }
      .slide-room .owl-nav button:nth-child(1):hover span {
        background: url(../images/prev-white.png) no-repeat center top; }
    .slide-room .owl-nav button:nth-child(2) {
      right: -50px; }
      .slide-room .owl-nav button:nth-child(2) span {
        float: right;
        background: url(../images/next-blue.png) no-repeat center top;
        width: 38px;
        height: 78px; }
      .slide-room .owl-nav button:nth-child(2):hover span {
        background: url(../images/next-white.png) no-repeat center top; }

.slide-tienich {
  width: 1000px;
  margin: 60px auto; }
  .slide-tienich img {
    width: 100% !important; }
  .slide-tienich button {
    background: none !important;
    box-shadow: none !important;
    border: 0 !important; }
    .slide-tienich button span {
      font-size: 0px;
      color: white; }
  .slide-tienich .owl-nav {
    top: 30vh;
    position: absolute;
    left: 0;
    width: 100%; }
    .slide-tienich .owl-nav button {
      position: absolute; }
      .slide-tienich .owl-nav button:nth-child(1) {
        left: -60px; }
        .slide-tienich .owl-nav button:nth-child(1) span {
          float: left;
          background: url(../images/prev-icon.png) no-repeat center top;
          width: 59px;
          height: 67px; }
      .slide-tienich .owl-nav button:nth-child(2) {
        right: -50px; }
        .slide-tienich .owl-nav button:nth-child(2) span {
          float: right;
          background: url(../images/next-icon.png) no-repeat center top;
          width: 59px;
          height: 67px; }

.contact-room {
  position: absolute;
  right: 160px;
  top: 40px; }

.close-popup .close-popup {
  position: fixed;
  top: 10px;
  background: none;
  right: 20px;
  transform: rotate(0deg) !important;
  width: 80px; }
.close-popup img {
  width: 100%; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #d1b37b; }

.carousel-nav-icon {
  height: 48px;
  width: 48px; }

.carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md {
  margin: 8px;
  height: 300px;
  background-size: cover;
  background-position: center center; }

.contact-room img {
  float: left;
  margin: 0 10px 0 0; }
.contact-room a {
  color: white;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 10px; }

.thuvien-tab {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 0px; }
  .thuvien-tab .mb-content {
    margin-top: 15px; }
  .thuvien-tab h2 {
    font-size: 40px;
    width: 200px;
    display: inline-block;
    text-align: left;
    position: relative;
    color: white;
    text-transform: uppercase; }
    .thuvien-tab h2::after {
      display: inline-block;
      content: '';
      width: 130px;
      height: 3px;
      background: #0da3db;
      position: absolute;
      bottom: -10px;
      left: 0; }
  .thuvien-tab .tab-title {
    width: 700px;
    margin: auto;
    position: relative; }
    .thuvien-tab .tab-title a {
      font-size: 20px;
      text-transform: uppercase;
      color: #808080;
      height: 40px;
      background: white;
      display: inline-block;
      padding-top: 11px; }
      .thuvien-tab .tab-title a.active {
        background: #0da3db;
        color: white;
        height: 50px;
        margin-top: -5px;
        border-radius: 6px !important;
        padding-top: 16px !important; }
      .thuvien-tab .tab-title a:nth-last-child(1) {
        border-radius: 0 6px 6px  0; }
      .thuvien-tab .tab-title a:nth-child(1) {
        border-radius: 6px  0 0 6px; }

.box-news-home h2 {
  font-size: 40px;
  position: relative;
  color: white;
  text-transform: uppercase; }
  .box-news-home h2::after {
    display: inline-block;
    content: '';
    width: 130px;
    height: 3px;
    background: #0da3db;
    position: absolute;
    bottom: -10px;
    left: 0; }

.item-gallary {
  display: inline-block;
  width: 100%; }
  .item-gallary a {
    position: relative;
    padding-top: 61%;
    display: block;
    background: #fff; }
    .item-gallary a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.nav-click.menu-show.active, .footer.show {
  opacity: 1 !important; }

.matbang-tongquan {
  background-size: cover !important; }

.matbang-tongquan, .mb-block-a5-tang-2 {
  height: 100%;
  display: inline-block;
  width: 100%; }

.tien-ich-noidung {
  position: relative;
  width: 1200px;
  margin: auto;
  margin-top: 180px; }
  .tien-ich-noidung p {
    cursor: pointer;
    display: inline-block;
    width: auto;
    position: absolute; }
    .tien-ich-noidung p span {
      height: 36px;
      border-radius: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: #0da3db;
      display: none;
      background: white;
      box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.22);
      padding-left: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
      padding-right: 10px;
      position: absolute;
      font-weight: bold;
      z-index: 9999;
      line-height: 27px !important; }
      .tien-ich-noidung p span::after {
        display: inline-block;
        content: '';
        background: url(../images/down-ti.svg) no-repeat center top;
        width: 14px;
        position: absolute;
        right: 25px;
        bottom: -9px;
        height: 10px;
        background-size: cover; }
    .tien-ich-noidung p b {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #00669b;
      color: white;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      border: rgba(225, 225, 225, 0.5) 3px solid;
      display: inline-block;
      padding-top: 1px;
      transition: all .3s ease-in-out; }
    .tien-ich-noidung p.ti-1 {
      top: 208px;
      right: 129px; }
      .tien-ich-noidung p.ti-1 span {
        width: 147px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-2 {
      top: 237px;
      right: 172px; }
      .tien-ich-noidung p.ti-2 span {
        width: 284px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-3 {
      top: 390px;
      left: 276px; }
      .tien-ich-noidung p.ti-3 span {
        width: 284px;
        top: -49px;
        right: -231px; }
        .tien-ich-noidung p.ti-3 span::after {
          left: 29px;
          right: initial !important; }
    .tien-ich-noidung p.ti-4 {
      top: 379px;
      left: 168px; }
      .tien-ich-noidung p.ti-4 span {
        width: 284px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-5 {
      top: 321px;
      right: 96px; }
      .tien-ich-noidung p.ti-5 span {
        width: 350px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-6 {
      top: 367px;
      right: 24px; }
      .tien-ich-noidung p.ti-6 span {
        width: 132px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-7 {
      top: 273px;
      right: 253px; }
      .tien-ich-noidung p.ti-7 span {
        width: 274px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-8 {
      top: 233px;
      right: 283px; }
      .tien-ich-noidung p.ti-8 span {
        width: 201px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-9 {
      top: 142px;
      right: 410px; }
      .tien-ich-noidung p.ti-9 span {
        width: 208px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-10 {
      top: 107px;
      right: 495px; }
      .tien-ich-noidung p.ti-10 span {
        width: 217px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-11 {
      top: 407px;
      right: 676px; }
      .tien-ich-noidung p.ti-11 span {
        width: 217px;
        top: -49px;
        right: -15px; }
    .tien-ich-noidung p.ti-12 {
      top: 434px;
      left: -30px; }
      .tien-ich-noidung p.ti-12 span {
        width: 217px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-12 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-13 {
      top: 535px;
      left: 31px; }
      .tien-ich-noidung p.ti-13 span {
        width: 217px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-13 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-14 {
      top: 326px;
      right: 371px; }
      .tien-ich-noidung p.ti-14 span {
        width: 307px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-14 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-15 {
      top: 300px;
      right: 573px; }
      .tien-ich-noidung p.ti-15 span {
        width: 262px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-15 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-16 {
      top: 120px;
      right: 600px; }
      .tien-ich-noidung p.ti-16 span {
        width: 192px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-16 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-17 {
      top: 301px;
      right: 938px; }
      .tien-ich-noidung p.ti-17 span {
        width: 192px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-17 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-18 {
      top: 511px;
      right: 792px; }
      .tien-ich-noidung p.ti-18 span {
        width: 192px;
        top: -49px;
        right: -15px; }
        .tien-ich-noidung p.ti-18 span::after {
          right: 25px; }
    .tien-ich-noidung p.ti-19 {
      top: 511px;
      right: 632px; }
      .tien-ich-noidung p.ti-19 span {
        width: 192px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-19 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-20 {
      top: 558px;
      right: 726px; }
      .tien-ich-noidung p.ti-20 span {
        width: 174px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-20 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-21 {
      top: 213px;
      right: 809px; }
      .tien-ich-noidung p.ti-21 span {
        width: 174px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-21 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-22 {
      top: 124px;
      right: 686px; }
      .tien-ich-noidung p.ti-22 span {
        width: 174px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-22 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-23 {
      top: 374px;
      right: 526px; }
      .tien-ich-noidung p.ti-23 span {
        width: 307px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-23 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-24 {
      top: 434px;
      right: 531px; }
      .tien-ich-noidung p.ti-24 span {
        width: 215px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-24 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-25 {
      top: 473px;
      right: 941px; }
      .tien-ich-noidung p.ti-25 span {
        width: 126px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-25 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-26 {
      top: 604px;
      left: -124px; }
      .tien-ich-noidung p.ti-26 span {
        width: 284px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-26 span::after {
          left: 25px; }
    .tien-ich-noidung p.ti-27 {
      top: 309px;
      left: 46px; }
      .tien-ich-noidung p.ti-27 span {
        width: 170px;
        top: -49px;
        left: -15px; }
        .tien-ich-noidung p.ti-27 span::after {
          left: 25px; }
    .tien-ich-noidung p.active b {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: #0da3db;
      color: white;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      border: rgba(225, 225, 225, 0.3) 3px solid;
      display: inline-block;
      padding-top: 1px;
      transition: all .3s ease-in-out; }
    .tien-ich-noidung p.active span {
      display: inline-block !important; }
  .tien-ich-noidung .logo-tienich-ngoai-khu {
    position: absolute;
    right: 143px;
    top: 360px;
    width: 161px !important; }

.room-list-top.room-3-12-tab2-bottom .room-1 .tooltip-box, .mb-block-a5-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(1) .tooltip-box {
  right: -51px; }

.mb-tab3-tangtret .room-list-top .room-1:nth-child(8) .tooltip-box {
  right: -60px; }

.mb-tab3-tang2 .room-list-top .room-1 .tooltip-box {
  right: -65px; }

.mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(4) .tooltip-box {
  right: -63px !important; }

.mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(3) .tooltip-box {
  right: -63px !important; }

.mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(2) .tooltip-box {
  right: -63px !important; }

.mb-content-tab-4 .mb-tab3-tang2 .room-list-top .room-1 .tooltip-box {
  right: -63px !important;
  bottom: -10px; }

.mb-content-tab-4 .mb-tab3-tang-3-12 .room-list-top .room-1 .tooltip-box {
  right: -63px !important;
  bottom: -10px; }

.mb-content-tab-4 .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(1) .tooltip-box {
  right: -33px ​ !important; }

.mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(9) .tooltip-box,
.mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(6) .tooltip-box {
  right: -51px !important; }

.mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(1) .tooltip-box {
  right: -33px !important; }

.mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(1) .tooltip-box {
  right: -65px !important; }

.mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(6) .tooltip-box {
  right: -65px !important; }

.mb-block-a5-tang-3-12 button {
  line-height: 13px !important; }

.mb-block-a5-tang-3-12 {
  background: url(../images/matbang-tab-2-tang-3-12.jpg) no-repeat center top;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .mb-block-a5-tang-3-12 .room-list-top {
    width: 1301px;
    display: block;
    margin: 31px auto 0 auto;
    height: 177px; }
  .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(1) {
    margin-left: -2px;
    width: 155px; }
  .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
    margin-left: 161px; }
  .mb-block-a5-tang-3-12 .room-1 {
    width: 131px;
    height: 178px;
    float: left;
    margin-right: 1px;
    display: flex; }
  .mb-block-a5-tang-3-12 .room-1 button {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    font-size: 18px;
    line-height: 19px;
    color: white;
    background: #0278b5;
    display: block;
    font-weight: bold; }
    .mb-block-a5-tang-3-12 .room-1 button span {
      font-size: 10px; }
  .mb-block-a5-tang-3-12 .room-3-12-tab2 {
    margin: 182px auto 0 auto;
    width: 1287px; }
    .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(1) {
      margin-left: 413px;
      width: 155px; }
      .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(1) .tooltip-box {
        right: -51px; }
    .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(4) {
      margin-left: -1px; }
  .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom {
    margin: 41px auto 0 auto;
    width: 1307px; }
    .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(1) {
      margin-left: 3px;
      width: 155px; }
    .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(4) {
      margin-left: 10px; }
  .mb-block-a5-tang-3-12 .room-1:hover .tooltip-box {
    visibility: initial;
    opacity: 1; }

.mb-block-a5-tang-3-12 .room-1 .tooltip-box {
  right: -63px;
  bottom: 15px; }

.mb-block-a5-tang-2 {
  background: url(../images/matbang-tab-2-tang-2.jpg) no-repeat center top; }
  .mb-block-a5-tang-2 .room-list-top {
    width: 1301px;
    display: block;
    margin: 462px auto 0 auto;
    height: 177px; }
  .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(1) {
    margin-left: -2px;
    width: 155px; }
    .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(1) .tooltip-box {
      right: -52px; }
  .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
    margin-left: 161px; }
  .mb-block-a5-tang-2 .room-1 {
    width: 131px;
    height: 178px;
    float: left;
    margin-right: 1px;
    display: flex; }
  .mb-block-a5-tang-2 .room-1 button {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    font-size: 18px;
    line-height: 19px;
    color: white;
    background: #0278b5;
    display: block;
    font-weight: bold; }
  .mb-block-a5-tang-2 .room-1:hover .tooltip-box {
    visibility: initial;
    opacity: 1; }

.news-slide {
  background-image: linear-gradient(to bottom, #0278b5, #0183bf, #028dc8, #0698d2, #0da3db);
  display: inline-block;
  width: 100%;
  height: 100%; }
  .news-slide h2 {
    font-size: 40px;
    width: 200px;
    display: inline-block;
    text-align: left;
    position: relative;
    color: white;
    text-transform: uppercase; }
    .news-slide h2::after {
      display: inline-block;
      content: '';
      width: 130px;
      height: 3px;
      background: #0da3db;
      position: absolute;
      bottom: -10px;
      left: 0; }
  .news-slide .view-more {
    background: url(../images/view-more.png) no-repeat;
    height: 42px;
    width: 157px;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-top: 20px;
    border: 0;
    text-indent: 20px; }
    .news-slide .view-more::after {
      display: none; }
    .news-slide .view-more:hover {
      background: #C00 url(../images/view-more.png) no-repeat; }
  .news-slide h3 {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px !IMPORTANT; }

.thuvien-tab .loop .owl-item {
  padding: 20px;
  margin: 0; }

.thuvien-tab .tab-title {
  margin-top: -20px;
  margin-bottom: 0px;
  display: flex; }

.section-form {
  background: url(../images/s8-bg.jpg) no-repeat top;
  height: 100%;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-size: cover !important;
  padding: 0px 0; }
  .section-form h2, .section-form p {
    color: white; }

.form-content {
  width: 100%;
  display: inline-block;
  width: 100%; }

.form-contact {
  width: 100%;
  margin: 120px auto 0 auto; }
  .form-contact p {
    font-size: 25px; }
  .form-contact h2 {
    font-size: 35px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    color: white;
    text-transform: uppercase; }
    .form-contact h2::after {
      display: block;
      content: '';
      width: 130px;
      height: 3px;
      background: #0da3db;
      margin-top: -30px;
      position: relative;
      margin: auto; }
  .form-contact form {
    width: 800px;
    margin: auto;
    margin-top: 20px; }
    .form-contact form input {
      background: none;
      display: inline-block;
      width: 100%;
      font-size: 20px;
      height: 54px;
      color: white;
      border-bottom: 1px solid #7bc2dc; }
      .form-contact form input::placeholder {
        color: white; }
    .form-contact form textarea {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      background: none;
      color: white;
      font-size: 20px;
      height: 50px;
      border-bottom: 1px solid #7bc2dc; }
      .form-contact form textarea::placeholder {
        color: white; }
    .form-contact form button {
      height: 42px;
      width: 108px;
      text-transform: uppercase;
      color: white;
      font-size: 23px;
      text-align: center;
      border: 1px solid white;
      padding: 6px;
      cursor: pointer;
      margin-top: 20px;
      background: none;
      font-weight: bold; }
      .form-contact form button:hover {
        background: #0da3db;
        color: white;
        border: 1px solid #0da3db; }

.footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center; }
  .footer label {
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    color: white;
    text-align: center; }

.sliderItem a {
  position: relative;
  padding-top: 50%;
  display: block;
  background: #fff; }
  .sliderItem a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
  .sliderItem a span {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    font-size: 30px;
    width: 100%;
    color: white;
    background: rgba(2, 120, 181, 0.5);
    text-transform: uppercase;
    font-weight: bold; }
.sliderItem.current span {
  display: block !important; }

.fSliderWrapper {
  position: relative;
  margin: 0 auto; }

.fSliderWrapper.centerMode {
  overflow: hidden; }

.fSliderWrapper.centerMode .fSlider {
  overflow: visible; }

.fSliderWrapper .fSlider {
  position: relative;
  width: 0;
  overflow: hidden;
  margin: 0 auto; }

.fSliderWrapper .fSlider .fSliderTrack {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

.fSliderWrapper .fSlider .fSliderTrack img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.fSliderWrapper .fSlider .fSliderTrack.fade {
  position: relative;
  overflow: hidden; }

.fSliderWrapper .fSlider .fSliderTrack.fade .sliderItem {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  display: none; }

.fSliderWrapper .fSlider .fSliderTrack.fade .sliderItem.current {
  display: block; }

.fSliderWrapper .fSlider .fSliderTrack .sliderItem {
  box-sizing: border-box;
  padding: 80px !important;
  display: inline-block;
  transition: all .3s ease-in-out;
  vertical-align: middle; }
  .fSliderWrapper .fSlider .fSliderTrack .sliderItem span {
    display: none; }

.fSliderWrapper .fSlider .fSliderTrack .sliderItem.current {
  padding: 0px !important; }
  .fSliderWrapper .fSlider .fSliderTrack .sliderItem.current span {
    display: block !important; }

.fSliderWrapper .fSlider .fSliderTrack .sliderItem.vTop {
  vertical-align: top; }

.fSliderWrapper .fSlider .fSliderTrack .sliderItem.vBottom {
  vertical-align: bottom; }

.fSliderWrapper .fSlider .fSliderTrack .sliderItem img {
  display: block; }

.fSliderWrapper a[class|="fArrow"] {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -24px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent; }

.fSliderWrapper a[class|="fArrow"]:after {
  content: '';
  display: block;
  position: absolute;
  top: -22px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent; }

.fSliderWrapper .fArrow-prev {
  left: 0;
  border-right: 24px solid #000000; }

.fSliderWrapper .fArrow-prev:after {
  left: 2px;
  border-right: 22px solid #ffcc00; }

.fSliderWrapper .fArrow-prev.disabled {
  border-right: 22px solid transparent; }

.fSliderWrapper .fArrow-prev.disabled:after {
  border-right: 22px solid #aaaaaa; }

.fSliderWrapper .fArrow-next {
  right: 0;
  border-left: 24px solid #000000; }

.fSliderWrapper .fArrow-next:after {
  right: 2px;
  border-left: 22px solid #ffcc00; }

.fSliderWrapper .fArrow-next.disabled {
  border-left: 24px solid transparent; }

.fSliderWrapper .fArrow-next.disabled:after {
  border-left: 22px solid #aaaaaa; }

.fSliderWrapper .dotsWrapper {
  position: relative;
  text-align: center;
  padding: 20px 0; }

.fSliderWrapper .dotsWrapper .dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b7d4ec;
  cursor: pointer; }

.fSliderWrapper .dotsWrapper .dot:hover {
  background-color: #b7d4ec; }

.fSliderWrapper .dotsWrapper .dot.current {
  background-color: #4ab4ff; }

.cusDotsWrapper .cusdot {
  cursor: pointer; }

/*# sourceMappingURL=fSlider.css.map */
.scrollbar {
  height: 69vh;
  width: 100%;
  margin: auto;
  overflow-y: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #16ACE4; }

.news-content-popup {
  text-align: center;
  display: inline-block;
  width: 100%; }
  .news-content-popup .logo-news {
    margin: auto;
    max-width: 170px;
    margin-top: 10px; }
  .news-content-popup p {
    color: white;
    font-size: 16px; }
  .news-content-popup .title-news-detail {
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding-left: 130px;
    margin-bottom: 30px;
    max-width: 1000px; }
    .news-content-popup .title-news-detail span {
      position: absolute;
      left: 0;
      top: 15px;
      font-size: 17px;
      color: white;
      text-align: left;
      text-transform: uppercase; }
      .news-content-popup .title-news-detail span b {
        font-size: 40px;
        color: white;
        display: inline-block;
        font-weight: normal;
        width: 100%; }
      .news-content-popup .title-news-detail span::after {
        position: absolute;
        right: 34px;
        width: 1px;
        height: 70px;
        background: #0da3db;
        content: '';
        display: block;
        top: -7px; }
    .news-content-popup .title-news-detail h1 {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
      font-size: 29px;
      text-align: left; }

.eidtor-news {
  display: inline-block;
  padding-right: 15px;
  max-width: 800px; }
  .eidtor-news p {
    text-align: justify;
    font-size: 16px; }
  .eidtor-news img {
    max-width: 100%;
    margin: 15px 0;
    width: 100%; }

.click-section .s4-infor, .click-section .s4-logo, .click-section .s4-content-text, .click-section .section-3 ul, .click-section .slider-2-top, .click-section .slider-2-bottom, .click-section .content-tienich ul li, .click-section img.img-s2, .click-section .item-news-home,
.click-section .nav-click, .click-section .logo-section2 {
  opacity: 1 !important; }

.item-news-home:hover .date-thumb {
  background: #3277B5; }

.logo {
  left: 260px;
  top: 20px;
  width: initial !important;
  margin: 0 !important; }
  .logo img {
    margin: 0 !important; }

.home-section2 .nav-click::before, .home-section3 .nav-click::before, .home-section4 .nav-click::before, .home-section5 .nav-click::before, .home-section6 .nav-click::before, .home-section7 .nav-click::before, .home-section8 .nav-click::before, .home-section9 .nav-click::before {
  background: url(../images/menu-white.png) no-repeat center top;
  z-index: 9; }
.home-section2 .logo, .home-section3 .logo, .home-section4 .logo, .home-section5 .logo, .home-section6 .logo, .home-section7 .logo, .home-section8 .logo, .home-section9 .logo {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  float: left;
  height: initial; }

.home-section5 .nav-click, .home-section6 .nav-click {
  top: 85px; }

.menu-show::before {
  background: none !important; }
.menu-show.active::before {
  background: url(../images/menu-close.png) no-repeat !important;
  background-size: cover !important; }

.content-tienich {
  background: url(../images/tienich-bg.png) no-repeat center top;
  height: 100%;
  display: inline-block; }

.item-news-home:hover .view-more {
  background: url(../images/btn-view-news-hover.png) no-repeat;
  background-size: cover !important; }

@media only screen and (max-width: 1700px) {
  .container-new {
    width: 100%;
    position: relative;
    padding: 0 20px; } }
@media only screen and (max-width: 1450px) {
  .content-tienich {
    background: url(../images/tienich-bg-1450.png) no-repeat center top;
    height: 100%;
    margin-top: 46px;
    display: inline-block; }

  .tab-title a {
    height: 54px;
    font-size: 25px;
    padding: 16px; }

  .vitri-box {
    width: 592px; }

  .container-new {
    width: 1000px !important; }

  .mb-content-tab-2, .mb-content-tab-3 {
    background-size: cover !important; }

  .mb-detail-top .infor-mb p img {
    bottom: -61px; }

  img.img-s2 {
    width: 607px;
    position: absolute;
    right: 0;
    top: initial;
    bottom: 0; }

  .slider-2-bottom ul li span {
    font-size: 83px; }

  .slider-2-bottom ul li:nth-last-child(1) {
    padding-left: 85px !important; }

  .slider-2-bottom ul li:nth-last-child(2) {
    padding-left: 85px !important; }
    .slider-2-bottom ul li:nth-last-child(2) p {
      margin-left: 4px; }

  .slider-2-bottom ul li p {
    margin-top: 9px;
    font-size: 23px;
    margin-left: 22px;
    line-height: 33px; }

  .slider-2-bottom ul li:nth-last-child(2) {
    padding-left: 50px !important;
    width: 25%; }

  .slider-2-bottom ul li {
    padding-left: 103px; }

  .content-tienich ul li p {
    padding: 10px;
    font-size: 13px; }
    .content-tienich ul li p::after {
      width: 13px; }

  .s4-infor img {
    width: 310px; }

  .slider-2-bottom {
    padding: 10px 0; }

  .s4-maps p {
    font-size: 14px;
    color: white;
    line-height: 28px; }

  .slider-2 p {
    font-size: 16px; }

  .slider-2-bottom ul {
    width: 710px; }

  .slide-tienich {
    width: 700px; }

  .thuvien-tab .mb-content {
    margin-top: 0; }

  .thuvien-tab .tab-title {
    margin-top: 10px;
    margin-bottom: 0;
    display: flex; }

  .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0; }

  .home-section6 {
    padding: 0px 0; }

  .form-contact h2 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 25px; }

  .slider-2-top ul li img {
    height: 70px;
    margin-bottom: 15px; }

  .slider-2-top ul {
    margin-top: 10px;
    margin-left: 0 !important; }

  .content-main {
    top: 30px; }

  .logo {
    left: 182px; }

  .matbang-tab {
    padding-top: 7px; }

  .tab-in-tab {
    position: absolute;
    top: 80px; }

  .fSliderWrapper .dotsWrapper {
    padding: 0 0 20px 0; }

  .section-form {
    padding: 0; }

  .form-contact form {
    margin-top: 0;
    width: 570px; }

  .footer.show p {
    font-weight: bold; }
    .footer.show p span {
      font-weight: bold; }
  .footer.show img {
    height: 20px; }

  .form-contact p {
    font-size: 18px; }

  .s4-maps {
    background: url(../images/s4-bg2.jpg) no-repeat center top; }

  .s4-logo {
    position: absolute;
    right: 19%;
    top: 53%;
    cursor: pointer; }
    .s4-logo img {
      width: 233px; }

  .logo-section2 {
    top: 10px;
    left: 15px; }
    .logo-section2 img {
      width: 160px; }

  .slider-2-top {
    margin-top: 100px; }

  .s4-content-text {
    margin-top: 90px; }

  .logo img {
    margin: 0 !important;
    width: 160px; }

  .s4-infor {
    margin-top: 10px; }
    .s4-infor img {
      width: auto;
      height: 307px; }

  .thuvien-tab h2 {
    font-size: 25px; }

  .content-main {
    overflow: initial; }

  .box-news-home .logo-blogs {
    position: absolute;
    top: -117px;
    width: 100%;
    text-align: center; }
    .box-news-home .logo-blogs img {
      width: 160px; }

  .news-content-popup .title-news-detail {
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding-left: 130px;
    margin-bottom: 10px;
    max-width: 700px; }

  .news-content-popup .title-news-detail h1 {
    font-size: 27px; }

  .tang1-mb-block-a5 {
    background: url(../images/bg-matbang-block-a5-1400.png) no-repeat center top;
    background-size: initial !important; }
    .tang1-mb-block-a5 .room-list-top {
      width: 985px;
      display: block;
      margin: 131px auto 0 auto;
      height: 128px; }
    .tang1-mb-block-a5 .room-list-top .room-1:nth-child(1) {
      margin-left: 463px; }
    .tang1-mb-block-a5 .room-1 {
      width: 95px;
      display: inline-block;
      height: 112px;
      float: left;
      margin-right: 1px;
      display: flex; }
    .tang1-mb-block-a5 .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 19px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold; }
    .tang1-mb-block-a5 .room-list-bottom {
      width: 920px !important;
      margin-top: 222px !important;
      height: 94px !important; }
      .tang1-mb-block-a5 .room-list-bottom .room-1 {
        margin-right: 12px;
        width: 126px;
        height: 92px; }
        .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(1) {
          margin-left: -7px !important; }
        .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(2) {
          margin-left: -11px;
          width: 98px;
          margin-right: 0; }
        .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(3) {
          width: 89px;
          margin-right: 0; }

  .logo-section2 img, .logo img {
    width: 160px; }

  .nav-click:before {
    width: 79px;
    height: 63px; }

  .banner-slider-logo {
    background-size: contain; }

  .banner-slider-logo h2 {
    font-size: 14px;
    margin: 69px 20px 0 0; }

  .banner-slider-logo img:nth-child(3) {
    margin-top: 57px;
    width: 80px; }

  .banner-slider-logo img {
    float: left;
    margin: 49px 0 0 15px;
    width: 100px; }

  .hotline-noted-360 {
    width: 49px; }

  .hotline-noted-360 a img {
    width: 45px; }

  .slider-2 h2 {
    font-size: 25px; }

  .slider-2 h2::after {
    width: 90px; }

  .slider-2-bottom ul li p b {
    font-size: 37px; }

  .slider-2-bottom ul li {
    width: 36.33%; }

  .slider-2-bottom ul li:nth-last-child(2) {
    padding-left: 50px !important;
    width: 27%; }

  .slider-2-bottom {
    background: #0992cc;
    padding: 38px 0 !important;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; }

  .slider-2-top ul li p {
    font-size: 16px;
    line-height: 24px; }

  .slider-2-top ul li p span {
    font-weight: bold;
    font-size: 25px; }

  .slider-2-top ul {
    width: 450px; }

  .slider-2-top {
    width: 652px; }

  .section-3 ul li span {
    width: 64px;
    font-size: 32px;
    padding-top: 14px;
    height: 64px; }
  .section-3 ul li p {
    color: #87cbf1;
    font-size: 14px; }
    .section-3 ul li p b {
      color: white;
      font-size: 16px; }

  .section-3 ul li {
    padding-left: 85px; }

  .s4-content-text {
    margin-top: 100px; }

  .slider-2 h2, .s4-maps h2 {
    font-size: 25px; }

  .slider-2 h2::after, .s4-maps h2::after {
    width: 90px; }

  .tab-in-tab a {
    padding: 8px 33px;
    font-size: 14px;
    height: 28px; }

  .tab-in-tab a.active {
    height: 34px;
    margin-top: 0;
    border-radius: 6px !important;
    padding-top: 8px;
    border: 0 !important;
    font-size: 18px; }

  .content-tienich ul {
    width: 870px;
    min-height: 100px;
    margin-top: 180px; }

  .content-tienich ul li.tien-ich-3 {
    top: 290px;
    left: 185px; }

  .content-tienich ul li.tien-ich-4 {
    top: 120px;
    left: 240px; }

  .content-tienich ul li.tien-ich-7 {
    top: 330px;
    right: 140px; }

  .tienich-ngoai-khu {
    background: #0476b2 url(../images/tienich-ngoai-khu-1450.png) no-repeat center top;
    background-size: initial !important; }

  .home-section7 h2 {
    margin-top: 100px; }

  .thuvien-tab .tab-title a {
    font-size: 14px;
    height: 28px;
    padding-top: 8px; }

  .thuvien-tab .tab-title a.active {
    height: 34px;
    margin-top: -3px;
    font-size: 18px;
    padding-top: 9px !important; }

  .thuvien-tab .tab-title {
    width: 510px; }

  .thuvien-tab h2::after {
    width: 90px; }

  .sliderItem a span {
    font-size: 22px; }

  .box-news-home {
    margin-top: 90px !important; }

  .news-slide h2 {
    font-size: 25px; }

  .news-slide h2::after {
    width: 85px; }

  .news-slide h3 {
    font-size: 18px !IMPORTANT; }

  .date-thumb {
    font-size: 29px; }

  .date-thumb span {
    font-size: 14px; }

  .news-slide h3 {
    font-size: 18px !IMPORTANT; }

  .news-slide .view-more {
    background: url(../images/view-more.png) no-repeat;
    height: 32px;
    width: 114px;
    color: white;
    padding: 8px;
    font-size: 13px;
    margin-top: 20px;
    border: 0;
    text-indent: 17px;
    background-size: cover !important; }
    .news-slide .view-more:hover {
      background: url(../images/btn-view-news-hover.png) no-repeat;
      background-size: cover !important; }

  .form-contact form input, .form-contact form textarea {
    font-size: 14px;
    height: 45px; }

  .form-contact form button {
    height: 30px;
    width: 76px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 1px solid white;
    padding: 4px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(1) {
    margin-left: 3px;
    width: 115px; }

  .mb-block-a5-tang-3-12 .room-list-top {
    width: 991px;
    display: block;
    margin: 22px auto 0 auto;
    height: 137px; }

  .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(1) {
    margin-left: -2px;
    width: 122px; }

  .mb-block-a5-tang-3-12 .room-list-top .room-1:nth-child(4) {
    margin-left: 126px; }

  .mb-block-a5-tang-2 {
    background: url(../images/matbang-tab-2-tang-2-1450.jpg) no-repeat center top; }
    .mb-block-a5-tang-2 .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 19px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold;
      transition: all .3s ease-in-out; }

  .mb-block-a5-tang-2 .room-list-top {
    width: 983px;
    margin: 349px auto 0 auto;
    height: 177px; }

  .mb-block-a5-tang-2 .room-1 {
    width: 131px;
    height: 133px; }

  .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(1) {
    margin-left: -2px;
    width: 119px; }

  .mb-block-a5-tang-2 .room-1 {
    width: 99px; }

  .mb-block-a5-tang-3-12 {
    background: url(../images/matbang-tab-2-tang-3-12-1450.jpg) no-repeat center top; }
    .mb-block-a5-tang-3-12 .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 19px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold;
      transition: all .3s ease-in-out; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 {
    margin: 186px auto 0 auto;
    width: 967px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(1) {
    margin-left: 310px;
    width: 118px;
    height: 134px; }

  .mb-block-a5-tang-3-12 .room-1 {
    width: 97px;
    height: 134px;
    float: left;
    margin-right: 1px;
    display: flex; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(4) {
    margin-left: 0px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(6) {
    width: 145px; }

  .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(4) {
    margin-left: 117px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(4) {
    margin-left: 10px !important; }

  .mb-tab3-tangtret {
    background: url(../images/matbang-tab-3-tang-tret-1450.jpg) no-repeat center top; }
    .mb-tab3-tangtret .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 19px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold;
      transition: all .3s ease-in-out; }
    .mb-tab3-tangtret .room-1 {
      width: 100px;
      height: 97px;
      margin-right: 3px; }

  .mb-tab3-tangtret .room-list-top .room-1:nth-child(1) {
    margin-left: 55px;
    width: 86px; }

  .mb-tab3-tangtret .room-list-top {
    width: 1060px;
    display: block;
    margin: 314px auto 0 auto;
    height: 97px; }

  .mb-tab3-tangtret .room-list-top .room-1:nth-child(6) {
    margin-left: 124px; }

  .mb-tab3-tangtret .room-list-top .room-1:nth-child(8) {
    width: 106px; }

  .mb-tab3-tang2 {
    background: url(../images/matbang-tab-3-tang-2-1450.jpg) no-repeat center top; }
    .mb-tab3-tang2 .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 19px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold;
      transition: all .3s ease-in-out; }

  .mb-tab3-tang2 .room-list-top {
    width: 1011px;
    display: block;
    margin: 440px auto 0 auto;
    height: 136px; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(1) {
    margin-left: 51px !important;
    width: 99px; }

  .mb-tab3-tang2 .room-list-top .room-1 {
    width: 94px;
    height: 136px;
    margin-right: 4px; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(6), .mb-tab3-tang2 .room-list-top .room-1:nth-child(7), .mb-tab3-tang2 .room-list-top .room-1:nth-child(8) {
    margin-top: -47px; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(6) {
    margin-left: 134px; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(8) {
    width: 117px; }

  .mb-tab3-tang-3-12 {
    background: url(../images/matbang-tab-3-tang-3-12-1450.jpg) no-repeat center top;
    display: inline-block;
    width: 100%;
    height: 100%; }
    .mb-tab3-tang-3-12 .room-1 button {
      width: 60px;
      border-radius: 50%;
      height: 60px;
      font-size: 18px;
      line-height: 13px;
      color: white;
      background: #0278b5;
      display: block;
      font-weight: bold;
      transition: all .3s ease-in-out; }
    .mb-tab3-tang-3-12 .room-list-top {
      width: 1008px;
      display: block;
      margin: 275px auto 0 auto;
      height: 133px; }
      .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(1) {
        margin-left: 0px !important;
        width: 148px; }
      .mb-tab3-tang-3-12 .room-list-top .room-1 {
        width: 96px;
        height: 130px;
        margin-right: 4px; }
      .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(6), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(7), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(8), .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(9) {
        margin-top: -47px; }
      .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(6) {
        margin-left: 0;
        width: 118px; }
      .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(9) {
        width: 117px; }
    .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 {
      width: 981px;
      display: block;
      margin: 29px auto 0 auto;
      height: 132px; }
      .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(1) {
        margin-left: 33px !important;
        width: 101px; }
      .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1 {
        width: 96px;
        height: 129px;
        margin-right: 4px; }
      .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(6), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(7), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(8), .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(9) {
        margin-top: -47px; }
      .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(6) {
        margin-left: 120px;
        width: 100px; }

  .infor-popup {
    width: 990px;
    margin: auto;
    margin-top: 30px; }
    .infor-popup .popup-cl-1 {
      float: left;
      margin-right: 30px;
      width: 190px;
      text-align: left; }
      .infor-popup .popup-cl-1 img {
        width: 56px; }
      .infor-popup .popup-cl-1 span {
        display: inline-block;
        clear: both;
        width: 100%;
        margin-bottom: 15px;
        font-size: 27px;
        text-transform: uppercase;
        color: white; }
        .infor-popup .popup-cl-1 span b {
          font-weight: bold;
          font-size: 42px; }
      .infor-popup .popup-cl-1:nth-child(2) {
        width: 294px; }
      .infor-popup .popup-cl-1:nth-child(3) {
        width: 335px; }

  .slide-room {
    display: inline-block;
    width: 100%; }
    .slide-room.setheight .room-slide {
      width: 570px;
      margin: auto; }
    .slide-room.setheight img {
      height: 463px;
      width: auto !important;
      margin: auto; }
    .slide-room.setwidth .room-slide {
      width: 1004px;
      margin: auto; }
    .slide-room.setwidth img {
      width: 888px;
      height: initial !important;
      margin: auto; }

  .close-popup {
    top: 50px;
    right: 30px; }

  .close-popup img {
    width: 68px; }

  .slide-room .owl-nav button span {
    width: 38px !important;
    height: 63px !important;
    background-size: contain !important; }

  .tienich-ngoai-khu nav ul li span {
    font-size: 9px; }

  .tienich-ngoai-khu nav ul li b {
    width: 16px;
    height: 16px;
    padding-top: 4px;
    font-size: 9px;
    font-weight: bold;
    top: 2px; }

  .tienich-ngoai-khu nav ul li {
    position: relative;
    height: 21px;
    margin-bottom: 4px;
    padding-left: 24px !important; }

  .tienich-ngoai-khu nav {
    right: 30px; }

  .tien-ich-noidung .logo-tienich-ngoai-khu {
    position: absolute;
    right: 259px;
    top: 221px;
    width: 116px !important; }

  .tien-ich-noidung p b {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00669b;
    color: white;
    font-weight: bold;
    font-size: 8px;
    border: rgba(225, 225, 225, 0.5) 2px solid;
    padding-top: 1px; }

  .tien-ich-noidung p.ti-1 {
    top: 112px;
    right: 249px; }

  .tien-ich-noidung p.ti-2 {
    top: 130px;
    right: 279px; }

  .tien-ich-noidung p.ti-3 {
    top: 248px;
    left: 356px; }

  .tien-ich-noidung p.ti-4 {
    top: 241px;
    left: 268px; }

  .tien-ich-noidung p.ti-5 {
    top: 196px;
    right: 225px; }

  .tien-ich-noidung p.ti-6 {
    top: 231px;
    right: 167px; }

  .tien-ich-noidung p.ti-7 {
    top: 163px;
    right: 338px; }

  .tien-ich-noidung p.ti-8 {
    top: 129px;
    right: 362px; }

  .tien-ich-noidung p.ti-9 {
    top: 65px;
    right: 458px; }

  .tien-ich-noidung p.ti-10 {
    top: 40px;
    right: 535px; }

  .tien-ich-noidung p.ti-11 {
    top: 260px;
    right: 661px; }

  .tien-ich-noidung p.ti-12 {
    top: 283px;
    left: 124px; }

  .tien-ich-noidung p.ti-13 {
    top: 354px;
    left: 176px; }

  .tien-ich-noidung p.ti-14 {
    top: 193px;
    right: 427px; }

  .tien-ich-noidung p.ti-15 {
    top: 184px;
    right: 580px; }

  .tien-ich-noidung p.ti-16 {
    top: 44px;
    right: 600px; }

  .tien-ich-noidung p.ti-17 {
    top: 181px;
    right: 858px; }

  .tien-ich-noidung p.ti-18 {
    top: 341px;
    right: 747px; }

  .tien-ich-noidung p.ti-19 {
    top: 342px;
    right: 625px; }

  .tien-ich-noidung p.ti-20 {
    top: 378px;
    right: 694px; }

  .tien-ich-noidung p.ti-21 {
    top: 113px;
    right: 762px; }

  .tien-ich-noidung p.ti-22 {
    top: 49px;
    right: 659px; }

  .tien-ich-noidung p.ti-23 {
    top: 238px;
    right: 548px; }

  .tien-ich-noidung p.ti-24 {
    top: 279px;
    right: 551px; }

  .tien-ich-noidung p.ti-25 {
    top: 312px;
    right: 859px; }

  .tien-ich-noidung p.ti-26 {
    top: 410px;
    left: 56px; }

  .tien-ich-noidung p.ti-27 {
    top: 189px;
    left: 181px; }

  .tien-ich-noidung p.ti-1 span {
    width: 109px;
    top: -39px;
    right: -15px; }

  .tien-ich-noidung p.ti-2 span {
    width: 203px;
    top: -49px;
    right: -15px; }

  .tien-ich-noidung p span {
    height: 26px;
    font-size: 14px;
    text-transform: uppercase;
    color: #0da3db;
    display: none;
    background: white;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    line-height: 19px !important;
    top: -38px ​ !important;
    z-index: 999; }

  .tien-ich-noidung p.ti-3 span {
    width: 204px;
    top: -43px;
    left: -19px; }

  .tien-ich-noidung p.ti-4 span {
    width: 204px;
    top: -41px;
    right: -15px; }

  .tien-ich-noidung p.ti-5 span {
    width: 250px;
    top: -39px;
    right: -15px; }

  .tien-ich-noidung p.ti-6 span {
    width: 99px;
    top: -41px;
    right: -15px; }

  .tien-ich-noidung p.ti-7 span {
    width: 197px;
    top: -41px;
    right: -15px; }

  .tien-ich-noidung p span {
    top: -41px !important; }

  .tien-ich-noidung p.ti-8 span {
    width: 148px;
    right: -15px; }

  .tien-ich-noidung p.ti-9 span {
    width: 150px; }

  .tien-ich-noidung p.ti-10 span {
    width: 160px; }

  .tien-ich-noidung p.ti-11 span {
    width: 157px; }

  .tien-ich-noidung p.ti-12 span {
    width: 157px; }

  .tien-ich-noidung p.ti-13 span {
    width: 158px; }

  .tien-ich-noidung p.ti-14 span {
    width: 225px; }

  .tien-ich-noidung p.ti-15 span {
    width: 188px; }

  .tien-ich-noidung p.ti-16 span {
    width: 141px; }

  .tien-ich-noidung p.ti-17 span {
    width: 142px; }

  .tien-ich-noidung p.ti-18 span {
    width: 142px; }

  .tien-ich-noidung p.ti-19 span {
    width: 142px; }

  .tien-ich-noidung p.ti-20 span {
    width: 128px; }

  .tien-ich-noidung p.ti-21 span {
    width: 127px; }

  .tien-ich-noidung p.ti-22 span {
    width: 127px; }

  .tien-ich-noidung p.ti-23 span {
    width: 221px; }

  .tien-ich-noidung p.ti-24 span {
    width: 155px; }

  .tien-ich-noidung p.ti-25 span {
    width: 96px; }

  .tien-ich-noidung p.ti-26 span {
    width: 205px; }

  .tien-ich-noidung p.ti-27 span {
    width: 127px; }

  .content-tienich ul li p::after {
    bottom: -26px; }

  .room-1 .tooltip-box {
    border-radius: 20px;
    background: white;
    padding: 10px 15px;
    position: absolute;
    right: -63px;
    bottom: -19px;
    width: 92px;
    font-weight: bold;
    z-index: 9;
    text-align: left;
    font-size: 11px;
    line-height: 14px;
    height: 63px; }

  .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(1) .tooltip-box {
    right: -55px; }

  .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(2) .tooltip-box {
    right: -69px; }

  .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(3) .tooltip-box {
    right: -74px; }

  .tang1-mb-block-a5 .room-list-bottom .room-1:nth-child(4) .tooltip-box {
    right: -55px; }

  .mb-block-a5-tang-2 .tooltip-box {
    right: -65px !important;
    bottom: -5px !important; }

  .mb-block-a5-tang-2 .room-list-top .room-1:nth-child(1) .tooltip-box {
    right: -56px !important; }

  .mb-block-a5-tang-3-12 .room-1 .tooltip-box {
    right: -67px;
    bottom: -3px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(1) .tooltip-box {
    right: -57px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2 .room-1:nth-child(6) .tooltip-box {
    right: -43px; }

  .room-list-top.room-3-12-tab2-bottom .room-1 .tooltip-box, .mb-block-a5-tang-3-12 .room-list-top:nth-child(2) .room-1:nth-child(1) .tooltip-box {
    right: -56px; }

  .mb-block-a5-tang-3-12 .room-3-12-tab2-bottom .room-1:nth-child(4) .tooltip-box {
    right: -67px !important; }

  .mb-tab3-tangtret .room-1 .tooltip-box {
    right: -67px; }

  .mb-tab3-tangtret .room-list-top .room-1:nth-child(1) .tooltip-box {
    right: -75px; }

  .mb-tab3-tangtret .room-list-top .room-1:nth-child(8) .tooltip-box {
    right: -65px; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(8) .tooltip-box {
    right: -51px !important; }

  .mb-tab3-tang2 .room-list-top .room-1:nth-child(1) .tooltip-box {
    right: -60px !important; }

  .mb-tab3-tang-3-12 .room-list-top .room-1:nth-child(1) .tooltip-box {
    right: -39px !important; }

  .mb-tab3-tang-3-12 .room-list-top.room-list-tab3-3-12 .room-1:nth-child(1) .tooltip-box {
    right: -62px !important; }

  .nav-click {
    top: 9px; }

  .shadow-line {
    height: 85px; }

  .content-tienich ul li.tien-ich-1 {
    top: 90px;
    left: -30px; }

  .content-tienich ul li.tien-ich-2 {
    top: 250px;
    left: -40px; }

  .content-tienich ul li.tien-ich-3 {
    top: 240px;
    left: 195px; }

  .content-tienich ul li.tien-ich-5 {
    top: 150px;
    right: 150px; }

  .content-tienich ul li.tien-ich-6 {
    top: 310px;
    right: -70px; }

  .content-tienich ul li.tien-ich-7 {
    top: 340px;
    right: 140px; }

  .popup-tienich-noikhu .item img {
    width: 900px !important; }

  .footer label {
    font-size: 9px; }

  .infor-popup .popup-cl-1:nth-child(2) {
    margin-top: -12px; } }
.wheel.show {
  pointer-events: none !important; }

/*# sourceMappingURL=style.css.map */
